<!doctype html>
<html class="no-js">
    <head>
        <title>{{title}} | Journal of Geebird&Bamby™</title>
        {{>html-head}}
    </head>
    <body>
        <div class="page{{#if transparent-header}} transparent-header{{/if}}">
            {{>header}}

            <div class="main">

                {{#if overview}}
                    <section>

                        {{#withSort journal 'data.date'}}
                            {{#each this.pages }}
                                <article class="content blog">
                                    <time>{{data.date}}</time>

                                    {{#if data.slides }}
                                        <div class="flexslider" data-role="slider">
                                            <ul class="slides">
                                                {{#each data.slides}}
                                                    <li>
                                                        <figure>
                                                            <img src="{{this.src}}">
                                                            {{#if this.caption}}
                                                                <figcaption>{{this.caption}}</figcaption>
                                                            {{/if}}
                                                        </figure>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    {{/if}}
                                    <div class="collapsed">
                                        {{#markdown}}
                                            {{this.page}}
                                        {{/markdown}}
                                    </div>
                                    <a href="posts/{{this.slug}}/index.html">Continue reading…</a>
                            </article>
                            {{/each}}
                        {{/withSort}}

                    </section>
                {{else}}
                    <article class="content blog {{#if meta-page}}meta{{/if}} {{#if fullslider}}fullslider{{/if}}">
                        {{#if date}}<time>{{date}}</time>{{/if}}

                        {{#if slides }}
                            <div class="flexslider" data-role="slider">
                                <ul class="slides">
                                    {{#if video}}
                                        <li class="video-slide">
                                            <iframe id="player_1" src="{{video}}" width="1024" height="589" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                        </li>
                                    {{/if}}
                                    {{#each slides}}
                                        <li>
                                            <figure>
                                                <img src="{{this.src}}">
                                                {{#if this.caption}}
                                                    <figcaption>{{this.caption}}</figcaption>
                                                {{/if}}
                                            </figure>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}

                        {{#markdown}}
                            {{> body }}
                        {{/markdown}}

                        {{#if date}}
                            <p class="back-button">
                                <a href="../../index.html" class="button inverted">View all entries</a>
                            </p>
                        {{/if}}

                    </article>
                {{/if}}

                <section class="content">
                    <ul class="teaser grid">
                        <li class="col-1-3">
                            <a href="/the-new-world/index.html" class="teaser-content">
                                <img src="/images/teaser/the-new-world.jpg">
                                <span>View Series</span>
                            </a>
                        </li>
                        <li class="col-1-3">
                            <div class="teaser-content">
                                <img src="/images/teaser/twitter.jpg">
                                <div class="tweets" data-role="tweets">
                                    <h4>Activity on <a href="http://www.twitter.com/geebirdandbamby" target="_blank">@geebirdandbamby</a></h4>
                                    <div class="tweet-container">
                                        <ul data-bind="foreach: tweets">
                                            <li data-bind="css: {active: $index() === 0}">
                                                <a data-bind="text: date, attr: {href: link}" target="_blank"></a><br>
                                                <div data-bind="html: tweet"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="icon-more more-tweets" data-role="next-tweet"></button>
                                </div>
                            </div>
                        </li>
                        <li class="col-1-3">
                            <a href="meta/about/index.html" class="teaser-content">
                                <img src="/images/teaser/teaser_about.jpg">
                                <span class="center">About G&amp;B</span>
                            </a>
                        </li>
                    </ul>
                </section>

                {{>photowall-newsletter }}

            </div>

            {{>footer}}
        </div>

        {{includeSvgSprite "app/images/icon-sprite.svg"}}
        {{>before-body}}
    </body>
</html>
