<!doctype html>
<html class="no-js">
    <head>
        <title>{{title}} | Journal of Geebird&Bamby™</title>
        {{>html-head}}
    </head>
    <body>
        <div class="page{{#if transparent-header}} transparent-header{{/if}} grey-nav">
            {{>header}}
            <div class="main">
                {{#if overview}}
                    <section>
                        {{#withSort journal 'data.date'}}
                            {{#each this.pages }}
                                <article class="content blog previews-{{data.previews}}">
                                    {{#if data.date}}<time>{{formatDate data.date "%m/%d/%Y"}}</time>{{/if}}
                                    {{#gt data.slides.length 1}}
                                        <div class="swiper-container" data-role="slider-journal">
                                            <ul class="slides swiper-wrapper">
                                                {{#each data.slides}}
                                                    <li class="swiper-slide">
                                                        <figure>
															<img src="..{{this.src}}" alt="">
                                                            {{#if this.caption}}
                                                                <figcaption>{{this.caption}}</figcaption>
                                                            {{/if}}
                                                        </figure>
                                                    </li>
                                                {{/each}}
                                            </ul>
											<div class="swiper-button-prev"><svg><use xlink:href="#icon-arrow-left"/></svg></div>
											<div class="swiper-button-next"><svg><use xlink:href="#icon-arrow-right"/></svg></div>
                                        </div>
									{{else}}
										{{#each data.slides}}
											<figure>
												<img class="blog-single-image" src="..{{this.src}}" alt="">
												{{#if this.caption}}
													<figcaption>{{this.caption}}</figcaption>
												{{/if}}
											</figure>
										{{/each}}
                                    {{/gt}}
                                    <div class="collapsed">
                                        {{#markdown}}
                                            {{this.page}}
                                        {{/markdown}}
                                    </div>
                                    <a class="article-link" href="posts/{{this.slug}}/index.html">Continue reading</a>
								</article>
                            {{/each}}
                        {{/withSort}}
                    </section>
                {{else}}
                    <article class="content blog {{#if meta-page}}meta{{/if}} {{#if fullslider}}fullslider{{/if}}">
						{{#if date}}<time>{{formatDate date "%m/%d/%Y"}}</time>{{/if}}
						{{#gt slides.length 1}}
							<div class="swiper-container" data-role="slider-journal">
								<ul class="slides swiper-wrapper">
									{{#each slides}}
										<li class="swiper-slide">
											<figure>
                                                {{#if src}}
                                                    <img src="{{#if ../meta-page}}../../{{else}}../../..{{/if}}{{this.src}}" alt="">
                                                {{/if}}
												{{#if this.caption}}
													<figcaption>{{this.caption}}</figcaption>
												{{/if}}
											</figure>
										</li>
									{{/each}}
								</ul>
								<div class="swiper-button-prev"><svg><use xlink:href="#icon-arrow-left"/></svg></div>
								<div class="swiper-button-next"><svg><use xlink:href="#icon-arrow-right"/></svg></div>
							</div>
						{{else}}
							{{#each slides}}
								<figure>
                                    {{#if src}}
                                        <img class="blog-single-image" src="../../..{{this.src}}" alt="">
                                    {{/if}}
                                    {{#if src_x1}}
                                        <img class="blog-single-image"
                                        src="../..{{this.src_x1}}" srcset="../..{{this.src_x1}}, ../..{{this.src_x2}} 2x" alt="">
                                    {{/if}}
									{{#if this.caption}}
										<figcaption>{{this.caption}}</figcaption>
									{{/if}}
								</figure>
							{{/each}}
						{{/gt}}

                        {{#markdown}}
                            {{> body }}
                        {{/markdown}}

                        {{#if date}}
                            <p class="back-button">
                                <a href="../../index.html" class="button inverted">View all entries</a>
                            </p>
                        {{/if}}

                    </article>
                {{/if}}

                <section class="content">
                    <ul class="teaser grid">
						{{#if meta-page}}
							<li class="col-1-3">
								<a href="{{assets}}/journal/index.html" class="teaser-content">
                                    <img class="bg" src="{{assets}}/images/teaser/small_teaser_journal_bg.jpg">
                                    <img class="attention" src="{{assets}}/images/teaser/small_teaser_journal_type.png">
								</a>
							</li>
						{{else}}
							<li class="col-1-3">
								<a href="{{assets}}/meta/about/index.html" class="teaser-content">
                                    <img class="bg" src="{{assets}}/images/teaser/small_teaser_about_bg.jpg">
                                    <img class="attention" src="{{assets}}/images/teaser/small_teaser_about_type.png">
								</a>
							</li>
						{{/if}}
                        <li class="col-1-3">
                            <div class="teaser-content">
                                <div class="tweets" data-role="tweets">
                                    <h4>Activity on <a href="http://www.twitter.com/geebirdandbamby" target="_blank">@geebirdandbamby</a></h4>
                                    <div class="tweet-container">
                                        <ul data-bind="foreach: tweets">
                                            <li data-bind="css: {active: $index() === 0}">
                                                <a data-bind="text: date, attr: {href: link}" target="_blank"></a><br>
                                                <div data-bind="html: tweet"></div>
                                            </li>
                                        </ul>
                                    </div>
									<button class="more-tweets" data-role="next-tweet">
										<svg><use xlink:href="#icon-arrow-down-black"/></svg>
									</button>
                                </div>
                            </div>
                        </li>
                        <li class="col-1-3">
                            <a href="http://www.instagram.com/geebirdandbamby" target="_blank" class="teaser-content">
                                <img class="bg" src="{{assets}}/images/teaser/small_teaser_instagram_bg.jpg">
                                <img class="attention" src="{{assets}}/images/teaser/small_teaser_instagram_type.png">
                            </a>
                        </li>
                    </ul>
                </section>

                {{>photowall-newsletter }}

            </div>

            {{>footer}}
        </div>

        {{includeSvgSprite "app/images/icon-sprite.svg"}}
        {{>before-body}}
    </body>
</html>
