<!-- artwork-details -->
<div class="artwork-details">
    <h1>{{title}}</h1>
    <p class="series">{{series}}</p>
    <div class="show-availabilty">
        <p class="starting">From €399 + Shipping</p>
        <label for="buying-options" class="button toggle-switch" data-role="scroll-in-view"><span class="off">Show</span><span class="on">Hide</span> Availabilty</label>
    </div>
    <input type="checkbox" class="toggle-trigger" id="buying-options">
    <div class="toggle-box">
        <div class="buying-options">
            <table>
                <thead>
                    <tr>
                        <td colspan="4">Our Store</td>
                    </tr>
                </thead>
                <tbody>
                    {{ includeYamlStringAsContext 'artwork-finishing-options' this 'category' }}
                </tbody>
            </table>

            {{#each additional-buying-options }}
                <table>
                    <thead>
                        <tr>
                            <td colspan="4">{{title}}</td>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each sizes}}
                            <tr>
                                <td colspan="3">{{size}}</td>
                                {{#if fewleft}}
                                    <td class="col-4"><a class="button outline-button" target="_blank" href="{{link}}">Few Left</a></td>
                                {{else}}
                                    {{#if soldout}}
                                        <td class="col-4"><a class="button hint-box" target="_blank" href="{{link}}">Sold Out</a></td>
                                    {{else}}
                                        <td class="col-4"><a class="button" target="_blank" href="{{link}}">Visit Lumas</a></td>
                                    {{/if}}
                                {{/if}}

                            </tr>
                        {{/each}}
                    </tbody>

                </table>
            {{/each}}
        </div>
    </div>
</div>
