        <div class="overlay-container"><div class="overlay-wrapper"><div class="overlay-content"><div class="overlay"></div></div></div><div class="overlay-background"></div></div>

        <!-- build:js /scripts/vendor.js -->
        <!-- bower:js -->
        <script src="{{assets}}/../bower_components/jquery/dist/jquery.js"></script>
        <script src="{{assets}}/../bower_components/chosen/chosen.jquery.min.js"></script>
        <script src="{{assets}}/../bower_components/handlebars/handlebars.js"></script>
        <script src="{{assets}}/../bower_components/knockout/dist/knockout.js"></script>
        <script src="{{assets}}/../bower_components/flexslider/jquery.flexslider.js"></script>
        <script src="{{assets}}/../bower_components/twitter-fetcher/js/twitterFetcher.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- FOXYCART -->
        <script src="http://cdn.foxycart.com/geebeedev/foxycart.jsonp.min.1439929745.js" async defer></script>
        <!-- /FOXYCART -->

        <!-- build:js /scripts/main.js -->
        <script src="{{assets}}/scripts/overlay.js"></script>
        <script src="{{assets}}/scripts/photowall.js"></script>
        <script src="{{assets}}/scripts/select-box.js"></script>
        <script src="{{assets}}/scripts/fc-cart.js"></script>
        <script src="{{assets}}/scripts/vm-artwork-details.js"></script>
        <script src="{{assets}}/scripts/vm-region-select.js"></script>
        <script src="{{assets}}/scripts/vm-tweets.js"></script>
        <script src="{{assets}}/scripts/slider.js"></script>
        <script src="{{assets}}/scripts/image-preloader.js"></script>
        <script src="{{assets}}/scripts/newsletter-form.js"></script>
        <script src="{{assets}}/scripts/scroll-indicator.js"></script>
        <script src="{{assets}}/scripts/contact-form.js"></script>
        <script src="{{assets}}/scripts/scroll-in-view.js"></script>
        <script src="{{assets}}/scripts/toggle-switch.js"></script>
        <!-- endbuild -->
