<!-- finishing-options-layer -->
<div class="overlay-contents">
	{{~#each finish-options}}
		<div id="{{id}}">
            <img width="768" height="512" data-src="{{image.src}}" class="overlay-lazy">
			<div class="text-content">
				<h3>{{{headline}}}</h3>
				{{basename}}
				{{{text}}}
			</div>
		</div>
	{{/each}}
</div>