            <header{{#if transparent-header}} class="transparent"{{/if}}>
                <div class="content">
                    <a class="logo" href="{{assets}}/index.html"><img src="{{assets}}/images/logo.svg" width="198" height="28"></a>
                    <input id="navigation-toggle" name="nav" type="checkbox" autocomplete="off">
                    <nav class="main-nav">
                        <ul>
                            <li {{#is basename "index"}}{{#unless layout}} class="active"{{/unless}}{{/is}}>
                                <a href="{{assets}}/index.html">Home</a>
                            </li>
                            <li {{#is basename "the-new-world"}} class="active"{{/is}}>
                                <a href="{{assets}}/the-new-world/index.html">The New World</a>
                            </li>
                            <li {{#is basename "mart"}} class="active"{{/is}}>
                                <a href="{{assets}}/mart/index.html">Mart</a>
                            </li>
                            <li {{#is basename "about"}} class="active"{{/is}}>
                                <a href="{{assets}}/meta/about/index.html">About</a>
                            </li>
                            <li {{#is basename "index"}}{{#is layout "journal.hbs"}} class="active"{{/is}}{{/is}}>
                                <a href="{{assets}}/journal/index.html">Journal</a>
                            </li>
                            <li {{#is basename "imprint"}} class="active"{{/is}}>
                                <a href="{{assets}}/meta/imprint/index.html">Contact</a>
                            </li>
                            <li>
                                <a href="" data-role="region-select" onClick="$('#navigation-toggle').click()">Select Region</a>
                            </li>
                        </ul>
                        <label for="navigation-toggle" class="icon-navi"><svg class="closed"><use xlink:href="#icon-hamburger"/></svg><svg class="open"><use xlink:href="#icon-close"/></svg></label>
                        <a href="" class="cart-link" data-role="toggle-cart">Cart</a>
                    </nav>
                </div>
            </header>
            <div class="overlay-cart">
                <div class="overlay-cart-container">
                    <div class="content">
                        <a class="logo" href="index.html"><img src="{{assets}}/images/logo_black.svg" width="198" height="28"></a>
                        <a class="icon-button close" href="#" data-role="toggle-cart"><svg><use xlink:href="#icon-close"/></svg></a>
                        <div class="cart-table">
                            <ul class="header">
                                <li class="col-2">Artwork Title &amp; Info</li>
                                <li class="col-3">Finish</li>
                                <li class="col-4">Quantity</li>
                                <li class="col-5">Price</li>
                            </ul>
                            <div class="cart-rows">
                                <div data-bind="template: { name: 'cart-row' , foreach: items}"></div>
                                <div class="shipping-row row">
                                    <!--ko if: totalWeight() > 5 -->
                                    <div class="ups-shipping">
                                        <h2>UPS® Shipping &amp; Handling <span data-bind="if: region() === 'eu'">within the European Union</span><span data-bind="if: region() === 'us'">within the US</span><span data-bind="if: region() === 'world'">to anywhere in the World</span><br></h2>
                                        <p class="left"><span data-bind="text: totalWeight"></span>kg billed weight (dimensional weight)<br>Insurance covering order value</p>
                                        <p class="left">UPS® carbon neutral<br><span data-bind="if: region() === 'eu'">Includes 19% VAT</span></p>
                                        <span class="price" data-bind="text: shippingCost"></span>
                                    </div>
                                    <!-- /ko -->
                                    <!--ko if: totalWeight() < 5 -->
                                    <div class="dhl-shipping">
                                        <h2>DHL Shipping &amp; Handling <span data-bind="if: region() === 'eu'">within the European Union</span><span data-bind="if: region() === 'us'">within the US</span><span data-bind="if: region() === 'world'">to anywhere in the World</span><br></h2>
                                        <p class="left"><span data-bind="text: totalWeight"></span>kg billed weight (dimensional weight)<br>Insurance covering order value</p>
                                        <p class="left">DHL GoGreen</p>
                                        <span class="price" data-bind="text: shippingCost"></span>
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                            <div class="cart-total">
                                <!--ko if: region() == "eu" -->
                                Order Value incl. 19% VAT
                                <!-- /ko -->
                                <span class="total price"><em><!--ko text: total--><!--/ko--></em></span>
                            </div>
                            <div class="cart-footer">
                                <a href="" data-bind="click: checkout" class="button primary push-right">Checkout</a>
                                <a href="" data-role="toggle-cart" class="button inverted push-right">Continue Shopping</a>
                            </div>

                            <script type="text/html" id="cart-row">
                                <div class="row" data-id="\{{id}}">
                                    <a href="" class="remove icon-button-small" data-bind="click: $parent.removeCartItem"><svg><use xlink:href="#icon-close"/></svg></a>
                                    <div class="col-2">
                                        <h3><!--ko text: name--><!--/ko--></h3>
                                        <!--ko text: size--><!--/ko--> <br>
                                        <!--ko text: edition--><!--/ko-->
                                    </div>
                                    <div class="col-3 no-headline">
                                        <!--ko text: finish--><!--/ko-->
                                    </div>
                                    <div class="col-4 no-headline">
										<div class="spinner">
											<button data-bind="click: decreaseQty">-</button>
											<span><!--ko text: qty--><!--/ko--></span>
											<button data-bind="click: increaseQty">+</button>
										</div>
                                    </div>
                                    <div class="col-5">
                                        <span class="price" data-bind="text: displayPrice"></span>
                                    </div>
                                </div>
                            </script>

                        </div>
                    </div>
                </div>
            </div>
